.container {
    background-color: #283747;
    color: white;
    padding: 10px;
    padding-top: 20px;
    width: 40%;
    border-radius: 10px;
    font-size: 15px;
}

.container h3 {
    margin-top: 2px;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .container {
        width: 90%;
    }
  }